body {
    background-color: #732eff;
    color: #ebebeb;
}

h1 {
    text-shadow: 2px 2px 4px #2a0052;
}

a {
    text-decoration: none;
}

a:link {
    color: #ebebeb;
}

a:hover {
    color: #ef7a85;
}

a:visited {
    color: #2a0052;
}
